<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<title>LOI opdracht 242S1 - Door André de Groot</title>
	<meta name="robots" content="noindex, nofollow" />
	<link rel="stylesheet" type="text/css" href="css/styles.css">


</head>


<body>

	<div class="wrapper">
		<header>
			<a href="/loi/242S1/"><img src="img/big_loi.png" width="92" height="94" alt="Loi logo" /></a>
			<h1 class="kopjerechts">Opdracht 242S1 - Programmeren in Javascript</h1>

		</header>

		
		
		
		
		
		
		


	</div>



	<script src="js/script.js"></script>
</body>










</html>